/* welcome.html */
body{
    background-image: linear-gradient(to right,#f5cece,#c5d2ed);
}

h1{
    text-align: center;
    font-family: 'Alegreya SC';
    font-size: 80px;
}

.helptext{
    font-size: 14px;
    color: tomato;
}

li{
    font-size: 14px;
    color: tomato;
}
