{%load static%}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'css/Home.css' %}">
        
        <title>
            Login
        </title>
    </head>

    <body>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group" style="text-align: center;">
                    <h1>Login</h1>   
                    <div class="col-md-15">
                        {%if messages%}
                            {%for message in messages%}
                               <div class="alert alert-success">{{message}}</div> 
                            {%endfor%}
                        {%endif%}
                    </div>                       
                   {{form.as_p}}
                </fieldset>
                <div class="form-group" style="text-align: center;">
                    <button class="btn btn-outline-dark" type="submit" >Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <medium class="text-muted">
                    Need an Account? <a class="ml-2" href="{%url 'signup' %}">Sign Up</a>
                </medium>
            </div>
        </div>

         <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>