{%load static%}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'css/Home.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
        <title>
            Welcome!
        </title>
    </head>

    <body>
        <h1>
        Welcome {{username}} !  
        </h1>
        <div class="border-top pt-3">
            <medium class="text-muted">
                Done? <a href="{%url 'logout' %}">Logout</a>
            </medium>
        </div>
    </body>
</html>